### **Introduction to `for` Loops**

In programming, a `for` loop provides a clean and concise way to iterate over a sequence of items. It's one of the most commonly used loops due to its simplicity and versatility in handling structured data types.

---

### **Iterating Over Ranges**

The `range()` function generates a sequence of numbers, which can be used in a `for` loop to repeat an action a specific number of times.

**Basic Syntax:**
```python
for variable in range(start, stop, step):
    # body of the loop
```

- `start`: The beginning value (optional, default is 0).
- `stop`: The end value (exclusive).
- `step`: The increment/decrement value (optional, default is 1).

**Example 1:** Counting from 0 to 4
```python
for i in range(5):
    print(i)
```

**Example 2:** Counting from 2 to 8 in steps of 2
```python
for i in range(2, 9, 2):
    print(i)
```

---

### **Iterating Over Lists**

A `for` loop can directly iterate over items in a list without needing to reference indices.

**Basic Syntax:**
```python
for item in list_name:
    # body of the loop
```

**Example:** Printing all items in a list
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

**Note:** The `for` loop can also iterate over other iterable data types like tuples, sets, strings, and dictionaries.

---

In [ ]:
#You can play around with the examples in this cell
word = "word"
print(word[1])

o


### **Practice Exercises:**

1. **Number Doubler:** For numbers 1 through 10, print each number doubled.

In [ ]:
#Ex1
for i in range(1, 11, 1):
  print(i*2)

2
4
6
8
10
12
14
16
18
20

2. **Vowel Finder:** Given a word, iterate over it and print only the vowels.

In [ ]:
#Ex2
word = str(input("Give me a word "))
length = int(len(word))
vowel = ["a", "e", "i", "o", "u"]
for i in range(length):
  if word[i] in vowel:
    print(word[i])

Give me a word pinapple
i
a
e

3. **List Reverser:** Without using built-in functions, reverse the items in a list.

In [ ]:
#Ex3
list1 = ["apple", "banana", "lol"]
length = int(len(list1))
for i in range(length-1, -1, -1):
  print(list1[i])

3
lol
banana
apple

4. **Odd Number Counter:** Given a list of numbers, count how many odd numbers there are.

In [9]:
#Ex4
listnum = [1,2,3,4,5,6,7,8,9]
length = len(listnum)
count= 0
for i in range(0,length,1):
  new_num = listnum[i]/2
  if round(new_num,0) != new_num:
    count += 1
print(count, "odd numbers")

5 odd numbers

5. **Grade Assigner:** For a list of scores, assign and print grades (e.g., A, B, C).

In [16]:
#Ex5
listscore = [95,42,75,85,55]
length = len(listscore)
for i in range(0,length,1):
  if listscore[i] >=90:
    print("student", i+1, "has an A")
  elif listscore[i] >= 80 and listscore[i] <90:
    print("student", i+1, "has a B")
  elif listscore[i] >=70 and listscore[i] <80:
    print("student", i+1, "has a C")
  elif listscore[i] >=60 and listscore[i] <70:
    print("student", i+1, "has a D")
  else:
    print("student", i+1, "has failed")

student 1 has an A
student 2 has failed
student 3 has a C
student 4 has a B
student 5 has failed

6. **Word Lengths:** For a list of words, print each word alongside its length.

In [17]:
#Ex6
listword = ["hello", "apple", "banana"]
length = len(listword)
for i in range(0, length, 1):
  print(listword[i], len(listword[i]))

hello 5
apple 5
banana 6

7. **Positive Number Finder:** Given a list of numbers, print only the positive ones.

In [18]:
#Ex7
listnum = [-1,2,7,-12,6,17]
length = len(listnum)
for i in range(0, length,1):
  if listnum[i] >= 0:
    print(listnum[i])

2
7
6
17

8. **Temperature Converter:** Convert a list of temperatures from Celsius to Fahrenheit and print them.

In [20]:
#Ex8
listtemp = [22, 23, 10, 35, 42]
length = len(listtemp)
for i in range(0, length,1):
  c = listtemp[i]
  f = (c/(5/9))+32
  print(i+1,f)

1 71.6
2 73.4
3 50.0
4 95.0
5 107.6

9. **Name Initials:** For a list of full names, print the initials of each name.

In [29]:
#Ex9
listname = ["erwyn murphy", "bob dylan", "paul mccartney", "john lennon", "ringo starr", "george harrison"]
length = len(listname)
capital = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "X", "Y", "Z"]
for i in range(0,length,1):
  length_word = len(listname[i])
  word = listname[i].title()
  for a in range (0,length_word,1):
    if word[a] in capital:
      print(word[a]+ ".")

E.
M.
B.
D.
P.
M.
J.
L.
R.
S.
G.
H.

10. **Range Sum:** Calculate the sum of numbers from 1 to 100 using a `for` loop.

In [22]:
#Ex10
count=0
for i in range(0,101,1):
  count += i
print(count)

5050